#mobile.mobile
    .mobile__overlay
    .mobile__container
        .mobile__header
            .mobile__header-title Меню
            .mobile__header-btn ×
        nav.mobile__navbar
            ul.mobile__navbar-nav.nav.navbar-nav
                li.mobile__nav-item
                    a.mobile__nav-link(href='#') Ссылка 1
                li.mobile__nav-item
                    a.mobile__nav-link(href='#') Ссылка 2
                li.mobile__nav-item
                    a.mobile__nav-link(href='#') Ссылка 3
                li.mobile__nav-item
                    a.mobile__nav-link(href='#') Ссылка 4
                li.mobile__nav-item
                    a.mobile__nav-link(href='#') Ссылка 5
                li.mobile__nav-item
                    a.mobile__nav-link(href='#') Ссылка 6

header#header.header
    .container
        .header__inner-container
            .header__logo
                a.header__logo-link(href='/')
                    img.header__logo-img(src='img/logo/logo.jpg', alt='')

            nav.header__navbar
                ul.header__navbar-nav.nav.navbar-nav
                    li.header__nav-item
                        a.header__nav-link(href='#') Ссылка 1
                    li.header__nav-item
                        a.header__nav-link(href='#') Ссылка 2
                    li.header__nav-item
                        a.header__nav-link(href='#') Ссылка 3
                    li.header__nav-item
                        a.header__nav-link(href='#') Ссылка 4
                    li.header__nav-item
                        a.header__nav-link(href='#') Ссылка 5
                    li.header__nav-item
                        a.header__nav-link(href='#') Ссылка 6

            .header__call
                .header__call-container
                    a.header__call-link(href='tel:+375290000000')
                        span.header__call-operator +375 29
                        span.header__call-number 000-00-00
                    button.header__call-btn(type='button', data-toggle='modal', data-target='#call-modal') Заказать обратный звонок
                .header__mobile-btn
                    .header__mobile-btn-bar
                    .header__mobile-btn-bar
                    .header__mobile-btn-bar