footer#footer.footer
    .container
        .footer__inner-container
            .footer__logo.col-lg-4.col-md-4.col-sm-6.col-xs-6
                a.footer__logo-link(href='/')
                    img.footer__logo-img(src='img/logo/logo.jpg', alt='')

            .footer__socials.col-lg-4.col-md-4.col-sm-6.col-xs-6
                a.footer__socials-item(href='#', target='_blank')
                    svg(width='30', height='30')
                        use(xlink:href='img/icons/sprites/sprite.svg#vk')
                a.footer__socials-item(href='#', target='_blank')
                    svg(width='30', height='30')
                        use(xlink:href='img/icons/sprites/sprite.svg#facebook')
                a.footer__socials-item(href='#', target='_blank')
                    svg(width='30', height='30')
                        use(xlink:href='img/icons/sprites/sprite.svg#instagram')

            .footer__copyright.col-lg-4.col-md-4.col-sm-6.col-xs-6
                p.footer__copyright-text 2018. Все права защищены ©